body {
    margin: 0;
}

.container {
    margin: 0 auto;
    position: absolute;
    left: calc(50% - 250px);
    width: 500px;
}

h1, h3 {
    text-align: center;
}

#Paint {
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    position: absolute;
    left: calc(50% - 125px);
    background: white;
    top: 180px;
}

.btn {
    background-color: #fff;
    border: 1px solid gray !important;
    border-radius: 3px;
    line-height: 25px;
    padding: 0 10px;
}

.result {
    background-color: #fff;
    border: 1px solid gray !important;
    border-radius: 3px;
    line-height: 25px;
    padding: 0 10px;

    float: right;
    margin-right: 7px;
    transition: background-color 3s ease-out;
    -webkit-transition: background-color 3s ease-out;
}

.btn:hover {
    cursor: pointer;
    background-color: rgba(68, 32, 32, 0.05);
}

.form {
    margin-top: 15px;
}